html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= subject
    body
      h1 Contact email from speaker.bingo

      p Someone just sent an email from the speaker.bingo site. And here it is!

      table
        tr
          th Name
          td= name
        tr
          th Email
          td= email
        tr
          th Subject
          td= rawSubject
        tr
          th Message
          td= message
