doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")

    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")

    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") speaker bingo

        div(class="collapse navbar-collapse" id="mainmenu-1")
          - var homeClass = '', aboutClass = '', tosClass = '', contactClass = '';
          - if (tabChoice == 'about') aboutClass = 'active';
          - else if (tabChoice == 'tos') tosClass = 'active';
          - else if (tabChoice == 'contact') contactClass = 'active';
          - else homeClass = 'active';
          ul(class="nav navbar-nav navbar-right")
            li(class=homeClass)
              a(href="/") Home
            li(class=aboutClass)
              a(href="/static/about") About
            li(class=tosClass)
              a(href="/static/tos") TOS
            li(class=contactClass)
              a(href="/static/contact") Contact


    block content

    p &nbsp;
    div(class="container-fluid my-footer")
      div(class="col-md-4")
        p 
          a(href="/") Home
          br
          a(href="/static/about") About 
          br
          a(href="/static/tos") Terms of Service
          br
          a(href="/static/contact") Contact us
      div(class="col-md-4")
        p Social media links
        p
          - if (config.socialMedia.twitter) {
            a(href=config.socialMedia.twitter title="Twitter")
              i(class="fa fa-twitter-square fa-3x")
            |  
          - }
          - if (config.socialMedia.facebook) {
            a(href=config.socialMedia.facebook title="Facebook")
              i(class="fa fa-facebook-square fa-3x")
            |  
          - }
          - if (config.socialMedia.flickr) {
            a(href=config.socialMedia.flickr title="Flickr")
              i(class="fa fa-flickr fa-3x")
            |  
          - }
          - if (config.socialMedia.instagram) {
            a(href=config.socialMedia.instagram title="Instagram")
              i(class="fa fa-instagram fa-3x")
            |  
          - }
          - if (config.socialMedia.github) {
            a(href=config.socialMedia.github title="Github")
              i(class="fa fa-github-square fa-3x")
            |  
          - }
          - if (config.socialMedia.googleplus) {
            a(href=config.socialMedia.googleplus title="Google+")
              i(class="fa fa-google-plus-square fa-3x")
          - }

      div(class="col-md-4")
        p
          i(class="fa fa-creative-commons")
          |  This site is licensed under a 
          a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution-ShareAlike 4.0 International License
          | .
        p This site is one of many projects created by Man Minus One. For further information please visit 
          a(href="http://www.manminusone.com/") manminusone.com.
