extends layout

block content
  script(src="/javascripts/user-profile.js")
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  div(class="container")
    i(class="fa fa-gears fa-5x fa-pull-right")
    div(class="screenAdmin")
      h1 User profile

      table
        tr
          th Email
          td= user.email 
            
        tr
          th Full name
          td
            input(type="text" id="name" name="name" value=user.name)
        tr
          th Save
          td
            button(type="button" id="saveButton")
              i(class="fa fa-save") 
              |  Save

      - if (message) {
        div(class="alert alert-danger alert-dismissable")= message
      - }
      h2 Presentations

      p Each presentation is associated with a unique URI which will be reserved for you on the mobile site. 

      - if (user.presentation.length > 0) {
      -   for(var iter = 0; iter < user.presentation.length; ++iter) {
            div(class="presentationDiv")
              table(style="width: 100%")
                tr
                  td(style="width: 50%")
                    h2 /#{user.presentation[iter].uri}  
                      a(class="btn btn-primary" target="_blank" href=(config.port == 443 ? 'https://' : 'http://') + config.vhost.uriDomain + (config.port == 443 || config.port == 80 ? '' : ':' + config.port) + '/' + user.presentation[iter].uri)
                        i(class="fa fa-share-square-o" title="View on mobile site")
                        |  View on mobile site
                    p                     
                      strong Created: 
                      date(class="niceDate")= user.presentation[iter].prop.created

                    - if (user.presentation[iter].prop.active)
                      - if (user.presentation[iter].prop.active.id) {
                        h1 THIS IS LIVE!
                        p (started 
                          date(class="niceDate")= user.presentation[iter].prop.active.start
                          span(class="live-count" id=user.presentation[iter]._id data-id=user.presentation[iter]._id)
                          | ) 
                      - } else if (user.presentation[iter].prop.active.stop) {
                        p Last went live 
                          date(class="niceDate")= user.presentation[iter].prop.active.stop
                      - }

                    - if (user.presentation[iter].prop.test)
                      - if (user.presentation[iter].prop.test.id) {
                      p Currently in testing mode (Started on 
                        date(class="niceDate")= user.presentation[iter].prop.test.start
                        | )
                      - } else if (user.presentation[iter].prop.test.stop) {
                        p Last tested 
                          date(class="niceDate")= user.presentation[iter].prop.test.stop
                      - }

                  td
                    - for (var i2 = 0; i2 < user.presentation[iter].bingo.length; ++i2) {
                      - var thisitem = user.presentation[iter].bingo[i2];
                      div(class=(thisitem._id == user.presentation[iter].prop.active.id ? 'bingoDiv bingoActiveDiv' : 'bingoDiv'))
                        p #{thisitem.title}  
                          small #{thisitem.choices.length} items
                          span(class="pull-right")
                            - if (user.presentation[iter].prop.active && thisitem._id == user.presentation[iter].prop.active.id) {
                              i(class="fa fa-pencil-square-o" title="Cannot edit an active bingo card")
                            - } else {
                              a(href="/bingo/edit?q="+thisitem._id)
                                i(class="fa fa-pencil-square-o fa-edit-icon" title="Click to edit")
                            - }
                            | 
                            - if (user.presentation[iter].prop.test && thisitem._id == user.presentation[iter].prop.test.id)  {
                              a(href="/bingo/test/off?q="+user.presentation[iter]._id)
                                i(class="fa fa-check-circle fa-testing-icon" title="Click to stop testing")
                            - } else { 
                              a(href="/bingo/test?q="+thisitem._id)
                                i(class="fa fa-circle fa-test-icon" title="Click to start testing")
                            - }
                            | 
                            - if (user.presentation[iter].prop.active && thisitem._id == user.presentation[iter].prop.active.id) {
                              a(href="/bingo/activate/off?q="+user.presentation[iter]._id)
                                i(class="fa fa-power-off fa-running-power-icon" title="Click to stop this game")
                            - } else if (thisitem.choices.length >= 24) {
                              a(href="/bingo/activate?q="+thisitem._id)
                                i(class="fa fa-power-off fa-turnon-icon" title="Click to activate")
                            - } else {
                              i(class="fa fa-power-off fa-turnon-icon-disabled" disabled="disabled" title="Add more items for activation")
                            - }
                            |  
                            a(href="#") 
                              i(class="fa fa-trash fa-delete-icon" title="Click to delete")

                    - }
                    a(href="/bingo/"+iter+'/new' class="btn btn-primary") 
                      i(class="fa fa-plus-circle")
                      |  Add item

      -   }
      - } else {
        p You have no presentations created yet.
      - }

      p &nbsp;
      button(type="button" class="btn btn-primary" id="newPresentationButton" name="newPresentationButton")
        i(class="fa fa-plus-circle") 
        |  Add a presentation

      p &nbsp;
      form(method="post" action="/presentation/new")
        div(class="hidden bg-primary new-div" id="newDiv" name="newDiv")
          table(class="nice-table")
            tr
              th Enter your new URI 
              td /
                input(type="text" id="uri" name="uri")  
                |  
                button(type="button" class="btn btn-default" id="checkUriButton" name="checkUriButton") Check availability
            tr
              td(colspan=2) &nbsp;
            tr
              th 
              td
                button(type="button" class="btn btn-primary" disabled="disabled" id="createPresentationButton" name="createPresentationButton")
                  i(class="fa fa-save")
                  |  Save and continue



    div(class="mobileAdmin")
      p something goes here
