extends layout

block content
  script(src="/javascripts/user-profile.js")
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  div(class="container")
    i(class="fa fa-gears fa-5x fa-pull-right")
    div(class="screenAdmin")
      h1 User profile

      table
        tr
          th Email
          td= user.email 
            
        tr
          th Full name
          td
            input(type="text" id="name" name="name" value=user.name)
        tr
          th Save
          td
            button(type="button" id="saveButton")
              i(class="fa fa-save") 
              |  Save

      h2 Presentations

      p Each presentation is associated with a unique URI which will be reserved for you on the mobile site. 

      - if (user.presentations.length > 0) {
      -   for(var iter = 0; iter < user.presentations.length; ++iter) {
            div(class="presentationDiv")
              table(style="width: 100%")
                tr
                  td(style="width: 50%")
                    h2 /#{user.presentations[iter].uri}  
                      a(class="btn btn-primary" target="_blank" href=(config.port == 443 ? 'https://' : 'http://') + config.vhost.uriDomain + (config.port == 443 || config.port == 80 ? '' : ':' + config.port) + '/' + user.presentations[iter].uri)
                        i(class="fa fa-share-square-o" title="View on mobile site")
                        |  View on mobile site
                    p 
                      strong Created: 
                      date(class="niceDate")= user.presentations[iter].createDate

                    - if (user.presentations[iter].activeBingoId) {
                      h1 THIS IS LIVE!
                      - }
                  td
                    - for (var i2 = 0; i2 < user.presentations[iter].bingos.length; ++i2) {
                      - var thisitem = user.presentations[iter].bingos[i2];
                      div(class="bingoDiv")
                        p #{thisitem.title}  
                          small #{thisitem.choices.length} items
                          span(class="pull-right")
                            a(href="/bingo/edit?q="+thisitem._id)
                              i(class="fa fa-pencil-square-o fa-edit-icon" title="Click to edit")
                            | 
                            - if (thisitem.id == user.presentations[iter].testBingoId)  {
                              a(href="/bingo/test/off")
                                i(class="fa fa-check-circle fa-testing-icon" title="Click to stop testing")
                            - } else { 
                              a(href="/bingo/test?q="+thisitem._id)
                                i(class="fa fa-circle fa-test-icon" title="Click to start testing")
                            - }
                            | 
                            - if (thisitem.choices.length >= 24) {
                              a(href="/bingo/activate?q="+thisitem._id)
                                i(class="fa fa-power-off fa-turnon-icon" title="Click to activate")
                            - } else {
                              i(class="fa fa-power-off fa-turnon-icon-disabled" disabled="disabled" title="Add more items for activation")
                            - }
                            |  
                            a(href="#") 
                              i(class="fa fa-trash fa-delete-icon" title="Click to delete")

                    - }
                    a(href="/bingo/"+iter+'/new' class="btn btn-primary") 
                      i(class="fa fa-plus-circle")
                      |  Add item

      -   }
      - }

      p &nbsp;
      button(type="button" class="btn btn-primary" id="newPresentationButton" name="newPresentationButton")
        i(class="fa fa-plus-circle") 
        |  Add a presentation

      p &nbsp;
      form(method="post" action="/presentation/new")
        div(class="hidden bg-primary new-div" id="newDiv" name="newDiv")
          table(class="nice-table")
            tr
              th Enter your new URI 
              td /
                input(type="text" id="uri" name="uri")  
                |  
                button(type="button" class="btn btn-default" id="checkUriButton" name="checkUriButton") Check availability
            tr
              td(colspan=2) &nbsp;
            tr
              th 
              td
                button(type="button" class="btn btn-primary" disabled="disabled" id="createPresentationButton" name="createPresentationButton")
                  i(class="fa fa-save")
                  |  Save and continue



    div(class="mobileAdmin")
      p something goes here
